html {
    font-family: "Nexa light";
    color: #606060;
    background-image: url(images/achtergrond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin:0;
    font-family: "Nexa light", sans-serif;
    background: #F4E6D8;
    color: #606060;
    font-size: 1rem;
}

main{
    margin-left: 5em;
    margin-right: 5em;
}

header{
    background-image: url('images/achtergrond.jpg');
    background-size: cover;
    padding-top: 1em;
    height: calc(20vh);
}

h1 {
    text-align: center;
    color: #F4E6D8;
    text-shadow: 2px 2px 10px black;
    font-family: "nexa bold";
    font-size: 3em;
    
}

/*************************
NAVIGATIE
**************************/

nav img{
        width: 2em;
    }

nav a{
    color: #00d66c;
    transition: .3s;
    text-decoration: none;
    font-family: "nexa bold";
}

nav {
    background: white;
    border-radius: .5em;
    margin: 0 5em 0;
    padding: 1px;
}

nav li{
    list-style-type: none;
    transition: .5s;
    
    
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

a{
    text-decoration: none;
}

nav a:focus, nav a:hover, .navonderin a:hover {
    color: #ff3268;
    outline: none;
}

/***************************
FORM
****************************/

form{
    margin-bottom: 3em;
}
label,input{
        display: block;
        margin: 0 auto;
    }

fieldset{
    background-color: #2800a0;
    color: white;
    border-radius: .5em;
    padding: 2em;
    border: none;
}

legend{
    color: white;
    padding-top: 3em;
    font-family: "nexa bold";
    font-size: 2em;
    text-align: center;
}

input{
    border-radius: 0.5em;
    margin-top: 1em;
    border: none;
    background-color: white;
    font-family: "nexa bold";
    font-size: 1em;
    padding: 1em;
    width: 14em;
    transition: all .3s ease;
}

label{
    margin: 2em;
    text-align: center;
}

form button{
    display: block;
    width: 14em;
    background-color: #00d66c;
    padding: 1em;
    border-radius: 5em;
    border: none;
    font-size: 1em;
    font-family: "nexa bold";
    transition: all .3s ease;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    text-align: center;
}

/*************************
FORM STATES
***************************/

form button:hover{
    background-color: white;
    color:#ff3268;
}

form button:focus{
    outline: none;
    background-color: white;
    color:#2800a0;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px black;

}

/***********************************
FOOTER
**********************************/

.navonderin{
    padding: 1em 5em;
    background-color: white;
    
}

.navonderin ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
}

.navonderin a {
    color: #00d66c;
    transition: .3s;
    text-decoration: none;
    font-family: "nexa bold";
    
}

.navonderin li{
    list-style-type: none;
    transition: .5s;
}

.navonderin img{
        width: 2em;
    }

/*******************************
MEDIA QUERIES
********************************/

@media(min-width:60em){
    main{
        margin-left: 5em;
        margin-right: 5em;
    }
    
    
    header{
        height: calc(40vh);
    }
    
    h1{
        margin-top: 3em;
    }
    
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        justify-content:space-around;
    }
    
    legend{
    text-align: left;
    }
      
    header{
        height: calc(40vh);
    }
      
    nav ul, .navonderin ul{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    
}
     
}

@media(min-width:70em){
    
    header{
        padding-bottom: 2em;
    }
}